div {
	font-family:Helvetica,Verdana;
	min-width: 100px;
	min-height: 40px;
}

#displog{
	display:none;
	color:#333;
	font-family: Helvetica,Verdana;
	position:fixed;
	z-index: 99;
	background-color: rgba(255,255,255,0.8);
	width:100%;
	height:400px;
}

.folioCard{
	width:500px;
	border:2px dashed #999;
	border-radius: 3px;
	margin-bottom: 10px;
}

.previewPane{
	height:300px;
	border:solid 2px #999;
	color:blue;
}

.filterbutton{
	display:inline;
	float:left;
	border:2px dashed #999;
	height:30px;
	width:200px;
	line-height: 2em;
	margin-left:5px;
}